<md-dialog aria-label="Hidden wifi dialog" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Connect to hidden wifi network</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancelDialog()" aria-label="Close dialog">
                    <cl-icon cl-icon="close"></cl-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
                <div class="md-dialog-content" layout="column">

                    <!-- message -->
                    <div layout="row">
                        <span>Configure your hidden network here</span>:
                    </div>

                    <!-- network -->
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Network name</label>
                            <input type="text" ng-model="$ctrl.dialogData.network">
                        </md>
                    </div>

                    <!-- encryption -->
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Network name</label>
                            <md-select ng-model="$ctrl.dialogData.encryption">
                                <md-option ng-repeat="encryption in $ctrl.encryptions" value="{{encryption.value}}">{{encryption.label}}</md-option>
                            </md-select>
                        </md>
                    </div>

                    <!-- password -->
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input
                                ng-attr-type="{{$ctrl.showPassword ? 'text' : 'password'}}"
                                ng-disabled="$ctrl.dialogData.encryption=='unsecured'"
                                ng-model="$ctrl.dialogData.password"
                                placeholder="password"
                            >
                        </md-input-container>
                        <div class="padding-row-with-input">
                            <md-button
                                class="md-icon-button"
                                ng-click="$ctrl.showPassword=!$ctrl.showPassword"
                                ng-disabled="$ctrl.dialogData.encryption=='unsecured'"
                                aria-label="Show password"
                            >
                                <cl-icon cl-icon="eye" ng-if="!$ctrl.showPassword"></cl-icon>
                                <cl-icon cl-icon="eye-off" ng-if="$ctrl.showPassword"></cl-icon>
                                <md-tooltip md-direction="left" ng-if="!$ctrl.showPassword">Show password</md-tooltip>
                                <md-tooltip md-direction="left" ng-if="$ctrl.showPassword">Hide password</md-tooltip>
                            </md-button>
                        </div>
                    </div>

                </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.closeDialog()" aria-label="Connect">
                <cl-icon cl-icon="lan-connect"></cl-icon>
                <span>Connect</span>
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
