<md-dialog aria-label="Connection infos dialog" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Connection infos</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancelDialog()" aria-label="Close dialog">
                    <cl-icon cl-icon="close"></cl-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <!-- wired network -->
            <div class="md-dialog-content" ng-if="!$ctrl.selectedNetwork.wifi">

                <!-- connection infos -->
                <md-list ng-cloak ng-if="$ctrl.config.networkstatus[$ctrl.selectedNetwork.interface].status===2">
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">IP address:</span>
                        {{$ctrl.selectedNetwork.status.ipv4}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">MAC:</span>
                        {{$ctrl.selectedNetwork.status.mac}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">Gateway:</span>
                        {{$ctrl.selectedNetwork.status.gateway_ipv4 || 'No gateway info'}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">Netmask:</span>
                        {{$ctrl.selectedNetwork.status.netmask_ipv4}}
                    </md-list-item>
                </md-list>

                <!-- not connected -->
                <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$ctrl.config.networkstatus[$ctrl.selectedNetwork.interface].status!==2">
                    <div>
                        <cl-icon cl-icon="cancel"></cl-icon>
                        <span>Not connected</span>
                    </div>
                </div>
            </div>

            <!-- wifi network -->
            <div class="md-dialog-content" ng-if="$ctrl.selectedNetwork.wifi">

                <!-- wifi connection infos -->
                <md-list ng-cloak ng-if="$ctrl.config.networkstatus[$ctrl.selectedNetwork.interface].status===2 && $ctrl.config.networkstatus[$ctrl.selectedNetwork.interface].network==$ctrl.selectedNetwork.network">
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">IP address:</span>
                        {{$ctrl.selectedNetwork.status.ipv4}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">MAC:</span>
                        {{$ctrl.selectedNetwork.status.mac}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">Gateway:</span>
                        {{$ctrl.selectedNetwork.status.gateway_ipv4 || 'No gateway info'}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">Netmask:</span>
                        {{$ctrl.selectedNetwork.status.netmask_ipv4}}
                    </md-list-item>
                    <md-list-item>
                        <span class="md-body-2" style="padding-right:10px;">Interface:</span>
                        {{$ctrl.selectedNetwork.status.interface}}
                    </md-list-item>
                </md-list>

                <!-- not connected -->
                <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$ctrl.config.networkstatus[$ctrl.selectedNetwork.interface].status!==2 || $ctrl.config.networkstatus[$ctrl.selectedNetwork.interface].network!=$ctrl.selectedNetwork.network">
                    <div>
                        <cl-icon cl-icon="cancel"></cl-icon>
                        <span>Not connected</span>
                    </div>
                </div>


            </div>
        </md-dialog-content>

    </form>
</md-dialog>
