<md-dialog aria-label="Wifi edit dialog" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{$ctrl.selectedNetwork.network}} network configuration</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancelDialog()" aria-label="Close dialog">
                    <cl-icon cl-icon="close"></cl-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-list>

                    <!-- wifi password -->
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text" layout="column">
                            <h3>Change password</h3>
                            <p ng-if="$ctrl.selectedNetwork.config.encryption=='unsecured'">
                                (disabled on unsecured network)
                            </p>
                        </div>
                        <div class="md-secondary">
                            <md-input-container class="no-margin">
                                <input
                                    ng-attr-type="{{$ctrl.showPassword ? 'text' : 'password'}}"
                                    placeholder="password"
                                    ng-model="$ctrl.dialogData.wifiPassword" 
                                    ng-disabled="$ctrl.selectedNetwork.config.encryption=='unsecured'"
                                    aria-label="password"
                                >
                            </md-input-container>
                            <md-button
                                class="md-icon-button"
                                ng-click="$ctrl.showPassword=!$ctrl.showPassword"
                                aria-label="Show password"
                                ng-disabled="$ctrl.selectedNetwork.config.encryption=='unsecured'"
                            >
                                <cl-icon cl-icon="eye" ng-if="!$ctrl.showPassword"></cl-icon>
                                <cl-icon cl-icon="eye-off" ng-if="$ctrl.showPassword"></cl-icon>
                                <md-tooltip md-direction="left" ng-if="!$ctrl.showPassword">Show password</md-tooltip>
                                <md-tooltip md-direction="left" ng-if="$ctrl.showPassword">Hide password</md-tooltip>
                            </md-button>
                        </div>
                        <md-button
                            class="md-secondary md-raised"
                            ng-click="$ctrl.changeWifiPassword()"
                            aria-label="Change passord"
                            ng-disabled="$ctrl.selectedNetwork.config.encryption=='unsecured'"
                        >
                            <cl-icon cl-icon="lock"></cl-icon>
                            Change
                        </md-button>
                    </md-list-item>

                    <!-- disable/enable network -->
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text" layout="column">
                            <h3>Enable/disable network</h3>
                            <p>Device won't connect to this network but configuration is kept</p>
                        </div>
                        <md-button
                            class="md-secondary md-raised"
                            ng-if="!$ctrl.selectedNetwork.config.disabled"
                            ng-click="$ctrl.disableWifiNetwork()"
                        >
                            <cl-icon cl-icon="sleep"></cl-icon>
                            Disable
                        </md-button>
                        <md-button
                            class="md-secondary md-raised"
                            ng-if="$ctrl.selectedNetwork.config.disabled"
                            ng-click="$ctrl.enableWifiNetwork()"
                        >
                            <cl-icon cl-icon="sleep-off"></cl-icon>
                            Enable
                        </md-button>
                    </md-list-item>

                    <!-- reconfigure network -->
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text" layout="column">
                            <h3>Reconfigure network</h3>
                            <p>In case of trouble try network reconfiguration</p>
                        </div>
                        <md-button class="md-secondary md-raised" ng-click="$ctrl.reconfigureWifiNetwork()">
                            <cl-icon cl-icon="cog"></cl-icon>
                            Reconfigure
                        </md-button>
                    </md-list-item>

                    <!-- delete network -->
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text" layout="column">
                            <h3>Forget network configuration</h3>
                            <p>Network configuration is deleted forever</p>
                        </div>
                        <md-button class="md-secondary md-accent md-raised" ng-click="$ctrl.forgetWifiNetwork()">
                            <cl-icon cl-icon="delete"></cl-icon>
                            Forget
                        </md-button>
                    </md-list-item>

                </md-list>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>
